
* {
    box-sizing: border-box;
    margin: 0;
}

p{
    margin: 0px; 
}

.links{
    text-decoration: none;
    color: inherit;
    /* color: whitesmoke;
    margin-right: 15px; */
}

footer{
    padding: 40px 100px;
    color: white;
}
  
footer a{
    text-decoration: none;
    color: white;
}

.ap-link{
    text-decoration: underline;
}

main{
    margin: 50px 100px;
    min-height: 70vh;
}

/* Home */
.eth-world{
    border-radius: 10px;
    overflow: hidden;
}
  
.eth-world img{
    opacity: .45;
}

.info{
    border-radius: 8px;
    padding: 10px;
    box-shadow: 18px 10px 15px -3px rgba(0,0,0,0.1);
}

.info1{
    border-right: 1px solid lightslategray;
    border-bottom: 1px solid lightslategray;
}

.info2{
    border-bottom: 1px solid lightslategray;
}

.info3{
    border-right: 1px solid lightslategray;
}

.info-title{
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.info-icon{
    font-size: 1.8rem;
}


.table{
    border-radius: 8px;
    padding: 10px;
    box-shadow: 18px 10px 15px -3px rgba(0,0,0,0.1);
}

.table-title{
    border-bottom: 1px solid lightslategray;
}

.gas{
    color: #2981e3;
    border: 1px solid #2981e3;
    padding: 2px 5px;
    border-radius: 6px;
}
/* End Home */

/*blocks screen */
.seach-form{
    display:flex;
    width: 50%;
}

.select-div{
    display: flex;
  }

/* end blocks screen */

.not-found{
    border-radius: 10px;
    overflow: hidden;
}
  
  .not-found img{
    opacity: .55;
}

.block-num{
    color: gray;
}

.block-info{
    border-radius: 8px;
    box-shadow: 18px 10px 15px -3px rgba(0,0,0,0.1);
    padding: 10px 20px;
}

.block-text{
    font-size: large;
}

.description{
    font-style: italic;
}

.alert-heading{
    font-size: 1.2rem;
}

.alert-text{
    font-size: .8rem;
}

.top{
    background-color: ;
    border-radius: 10px;
}

.top .icon{
    color: #2680E3;
    font-size: 1.2rem;
}

.top .icon2{
    color: black;
    
}

.top .tit{
    color: #2680E3;
    font-size: 1.2rem;
    font-weight: bold;
    
}

.top p{
    font-size: 1.2rem;
    margin: 0px;
}

@media only screen and (max-width: 890px) {
    main{
        margin: 20px;
    }
    .img-eth{
        height: 250px;
        width: auto;
        object-fit: cover;
    }
    .info1{
        border-right: none;
        border-bottom: 1px solid lightslategray;
    }
      
      .info2{
        border-bottom: 1px solid lightslategray;
    }
      
      .info3{
        border-bottom: 1px solid lightslategray;
        border-right:none;
    }
    .col{
        width: 100vw;
    }

    .gas{
        color: #2981e3;
        border: none;
        padding: 0px;
      }

    .not-found h1{
        font-size: 1.2rem;
    }
    .block-text{
        font-size:10px;
      }

    .top{
        flex-direction:  column;
    }
    .ex{
        display: none;
    }
}